---
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" \>
		<link rel="stylesheet" href="/assets/css/style.css" \>
                <link rel="icon" type="image/png" href="/assets/favicon.png" size="200x200" \>
		<title>{{ page.title }} - der-B</title>
	</head>
	<body>
		<header>
			<a href="/"><img src="/assets/img/logo.svg" />
			<h1>der-B</h1></a>
			{% include navigation.html %}
		</header>
		<div class="content">
		{{ content }}
		</div>
		<footer>
                        Website is available on <a href="https://github.com/der-b/www">GitHub</a>.
		</footer>
	</body>
</html>
